<%= render 'shared/errors', obj: @article %>

<%= form_with model: @article, data: {turbo: false} do |f| %>
  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>    
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of article" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :description %>
    </div>    
    <div class="col-sm-8">
      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description goes here" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-md-2 col-sm-10">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |opt| %>
        <div class="form-check form-check-inline">
          <%= opt.check_box class: "form-check-input" %>
          <%= opt.label class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-md-2 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="offset-md-2 col-sm-10">
    <%= link_to 'Cancel request and return to articles listing', articles_path %>
  </div>
</div>
