<% if @article.errors.any? %>
  <h2>The following errors prevented the article from getting created</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @article, data: {turbo: false} do |f| %>
  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>    
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of article" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :description %>
    </div>    
    <div class="col-sm-8">
      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description goes here" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-md-2 col-sm-10">
      <%= f.submit "Create Article", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="offset-md-2 col-sm-10">
    <%= link_to 'Cancel request and return to articles listing', articles_path %>
  </div>
</div>
