<h2 class="text-center mb-3"><%= @article.title %></h2>

<div class="row mx-1">
  <div class="bg-secondary col-md-8 offset-md-2 p-4 rounded" style="--bs-bg-opacity: .25;">
    <h4 class="text-center">Description</h4>

    <hr>

    <%= simple_format(@article.description) %>

    <div class="article-actions">
      <%= link_to 'Edit article', edit_article_path(@article), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Delete article', article_path(@article),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
      <%= link_to 'View all articles', articles_path, class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>
