<%= render 'shared/errors', obj: @category %>

<%= form_with model: @category, data: {turbo: false} do |f| %>
  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :name %>
    </div>    
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", placeholder: "Category name" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-md-2 col-sm-10">
    <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="offset-md-2 col-sm-10">
    <%= link_to 'Cancel request and return to categories listing', categories_path %>
  </div>
</div>